<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockPenSimWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlockPenSimWPF.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>"1280,696"</value>
            </setting>
            <setting name="IndexStore" serializeAs="String">
                <value>{
  "useDecimalComma": false,
  "hideZeroRatioWeaponColumns": true,
  "hideZeroRatioDirectionColumns": true,
  "updateDefaultBlockdataOverInternet": true,
  "applyKilledBlockCollisionDamage": false,
  "HighlightValues": {
    "Block Length": false,
    "Block Width": false,
    "Block Height": false,
    "Length": false,
    "Width": false,
    "Height": false,
    "Length Block Count": false,
    "Width Block Count": false,
    "Height Block Count": false,
    "CPU": false,
    "Weight (kg)": false,
    "STP Laser Blaster (Front)": false,
    "STP Laser Blaster (Side)": false,
    "STP Laser Blaster (Top)": false,
    "STP Plasma Cannon (Front)": false,
    "STP Plasma Cannon (Side)": false,
    "STP Plasma Cannon (Top)": false,
    "STP Arc Discharger (Front)": false,
    "STP Arc Discharger (Side)": false,
    "STP Arc Discharger (Top)": false,
    "STP Rail Gun (Front)": false,
    "STP Rail Gun (Side)": false,
    "STP Rail Gun (Top)": false,
    "TTP Laser Blaster (Front)": false,
    "TTP Laser Blaster (Side)": false,
    "TTP Laser Blaster (Top)": false,
    "TTP Plasma Cannon (Front)": false,
    "TTP Plasma Cannon (Side)": false,
    "TTP Plasma Cannon (Top)": false,
    "TTP Arc Discharger (Front)": false,
    "TTP Arc Discharger (Side)": false,
    "TTP Arc Discharger (Top)": false,
    "TTP Rail Gun (Front)": false,
    "TTP Rail Gun (Side)": false,
    "TTP Rail Gun (Top)": false,
    "Score": true,
    "Score / CPU": true,
    "Score / Weight": true
  },
  "RowFilters": {},
  "ColumnsSort": {
    "Score": 1
  },
  "Cpu": {
    "Min": 1,
    "Max": 100
  },
  "Weight": {
    "Min": 0,
    "Max": 6000
  },
  "Length": {
    "Min": 0,
    "Max": 9
  },
  "Width": {
    "Min": 0,
    "Max": 9
  },
  "Height": {
    "Min": 0,
    "Max": 9
  },
  "WeaponSettings": {
    "LaserBlaster": {
      "WeaponCount": 6,
      "WeaponRatio": 1,
      "WeaponFrontRatio": 2,
      "WeaponSideRatio": 1,
      "WeaponTopRatio": 1
    },
    "PlasmaCannonMax": {
      "WeaponCount": 2,
      "WeaponRatio": 1,
      "WeaponFrontRatio": 1,
      "WeaponSideRatio": 1,
      "WeaponTopRatio": 1
    },
    "PlasmaCannon": {
      "WeaponCount": 2,
      "WeaponRatio": 0,
      "WeaponFrontRatio": 1,
      "WeaponSideRatio": 1,
      "WeaponTopRatio": 1
    },
    "PlasmaCannonMin": {
      "WeaponCount": 2,
      "WeaponRatio": 0,
      "WeaponFrontRatio": 1,
      "WeaponSideRatio": 1,
      "WeaponTopRatio": 1
    },
    "ArcDischarger": {
      "WeaponCount": 3,
      "WeaponRatio": 0,
      "WeaponFrontRatio": 1,
      "WeaponSideRatio": 1,
      "WeaponTopRatio": 1
    },
    "RailGunMax": {
      "WeaponCount": 1,
      "WeaponRatio": 1,
      "WeaponFrontRatio": 2,
      "WeaponSideRatio": 1,
      "WeaponTopRatio": 0
    },
    "RailGun": {
      "WeaponCount": 1,
      "WeaponRatio": 0,
      "WeaponFrontRatio": 2,
      "WeaponSideRatio": 1,
      "WeaponTopRatio": 0
    },
    "RailGunMin": {
      "WeaponCount": 1,
      "WeaponRatio": 0,
      "WeaponFrontRatio": 2,
      "WeaponSideRatio": 1,
      "WeaponTopRatio": 0
    }
  },
  "Weapons": {
    "LaserBlaster": {
      "name": "Laser Blaster",
      "cpu": 20,
      "damage": 22.0,
      "pellets": 1.0,
      "radius": 0.0,
      "splashShape": 0,
      "energy": 1500.0,
      "cooldown": 0.6,
      "impulse": 2750
    },
    "PlasmaCannonMax": {
      "name": "Plasma Cannon (37.5m)",
      "cpu": 60,
      "damage": 850.0,
      "pellets": 9.0,
      "radius": 25.0,
      "splashShape": 1,
      "energy": 3000.0,
      "cooldown": 2.5,
      "impulse": 2750
    },
    "PlasmaCannon": {
      "name": "Plasma Cannon (78.75m)",
      "cpu": 60,
      "damage": 465.0,
      "pellets": 9.0,
      "radius": 25.0,
      "splashShape": 1,
      "energy": 3000.0,
      "cooldown": 2.5,
      "impulse": 2750
    },
    "PlasmaCannonMin": {
      "name": "Plasma Cannon (120m)",
      "cpu": 60,
      "damage": 80.0,
      "pellets": 9.0,
      "radius": 25.0,
      "splashShape": 1,
      "energy": 3000.0,
      "cooldown": 2.5,
      "impulse": 2750
    },
    "ArcDischarger": {
      "name": "Arc Discharger",
      "cpu": 40,
      "damage": 15000.0,
      "pellets": 11.0,
      "radius": 30.0,
      "splashShape": 1,
      "energy": 120000.0,
      "cooldown": 6.0,
      "impulse": 5000
    },
    "RailGunMax": {
      "name": "Rail Gun (70m)",
      "cpu": 120,
      "damage": 810.0,
      "pellets": 12.0,
      "radius": 5.0,
      "splashShape": 2,
      "energy": 5200.0,
      "cooldown": 3.5,
      "impulse": 2750
    },
    "RailGun": {
      "name": "Rail Gun (47.5m)",
      "cpu": 120,
      "damage": 480.0,
      "pellets": 12.0,
      "radius": 2.5,
      "splashShape": 2,
      "energy": 2700.0,
      "cooldown": 3.5,
      "impulse": 2750
    },
    "RailGunMin": {
      "name": "Rail Gun (25m)",
      "cpu": 120,
      "damage": 150.0,
      "pellets": 1.0,
      "radius": 0.0,
      "splashShape": 0,
      "energy": 200.0,
      "cooldown": 3.5,
      "impulse": 2750
    }
  },
  "Materials": {
    "Airium": {
      "name": "Airium",
      "density": 0.728,
      "connectionStrength": 1.59,
      "energyAbsorption": 2500
    },
    "Moderonium": {
      "name": "Moderonium",
      "density": 1.8,
      "connectionStrength": 2.65,
      "energyAbsorption": 5000
    },
    "Ladium": {
      "name": "Ladium",
      "density": 7.32,
      "connectionStrength": 3.35225,
      "energyAbsorption": 7500
    }
  }
}</value>
            </setting>
            <setting name="ThemeOverride" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>0</value>
            </setting>
        </BlockPenSimWPF.Properties.Settings>
    </userSettings>
</configuration>